<div class="col-lg-12" data-bind="with: user">
    <div class="row">
        <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="card">
                        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                        <div class="avatar">
                            <img src="../../../../images/Dummy-profile-picture.png" alt="" />
                        </div>
                        <div class="content">
                            <p>
                                Web Developer <br>
                                More description here
                            </p>
                            <p><button type="button" class="btn btn-default">Contact</button></p>
                        </div>
                    </div>
                </div>
                <div profileInfo>
                    <span data-bind="text: displayname"></span>
                    
                </div>

        </div>
    </div>
</div>
