<div class="form-group">
    <button data-bind="click: createUser" class="btn btn-success">New User</button>
</div>

<div data-bind="foreach: users">
    <div class="row" data-bind="if: age">
        <div class="col-md-12">
            <div class="well well-sm">
                <div class="media">
                    <a class="thumbnail pull-left" href="#">
                        <img class="media-object" src="../../../../images/Dummy-profile-picture.png">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading" data-bind="text: displayname, click: $parent.selectUser"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <button data-bind="enable: canPrev(), click: showPrev" class="btn btn-sm col-md-1">
        <span class="glyphicon glyphicon-triangle-left"></span>
    </button>

    <div class="col-md-10"></div>

    <button data-bind="enable: canNext(), click: showNext" class="btn btn-sm col-md-1">
        <span class="glyphicon glyphicon-triangle-right"></span>
    </button>
</div>