<button data-bind="click: createUser" class="btn btn-success">New User</button>

<div data-bind="foreach: users">
    <div class="row" data-bind="if: age">
        <div class="col-md-12">
            <div class="well well-sm">
                <div class="media">
                    <a class="thumbnail pull-left" href="#">

                        <img class="media-object" src="../../../../images/Dummy-profile-picture.png">

                    </a>
                    <div class="media-body">
                        <h4 class="media-heading" data-bind="text: displayname, click: $parent.selectUser"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>