
img.media-object {
    width: 45%;
    border-radius: 50px;
}
.media-heading, .tag {
    cursor: pointer;
}
.label-default {
    background-color: #929292;
}
.navbar-default {
    background-color: #6a839c;
}
.commentSection {
    font-size: 12px;
        margin-top: 15px;
}
.comment {
    padding: 5px 0 5px 20px;
    border-top: 1px solid #ccc;
}
.acceptedAnswer {
    border: 2px solid #478e46;
}