<div data-bind="foreach: posts">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <div class="media">
                    <a class="thumbnail pull-left" href="#">

                        <img data-bind="click: $parent.selectUser" class="media-object" src="../../../../images/Dummy-profile-picture.png">

                    </a>
                    <div class="media-body">
                        <h4 class="media-heading" data-bind="text: title, click: $parent.selectPost"></h4>
                        <br />
                        <p>
                            <!-- Hvis den har et accepteret svar skal denne smide på som label -->
                            <span class ="label label-success" data-bind="if: acceptedAnswerId">Accepted</span>                  
                            <span class="label label-info">8 answers</span>
                            <span class="label label-warning" data-bind="text: score"></span>


                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
