<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group col-lg-4">

                <div class="input-group">
                    <input class="form-control" placeholder="Search" data-bind="textInput: words" />

                    <span class="input-group-btn">
                        <button class="btn btn-default" data-bind="click: search">Search</button>
                    </span>
                </div>

            </div>

        </div>

        <div id="keywords"></div>
        <!--<div data-bind="foreach: cloudWords">
            <span>test</span>
        </div>-->
    </div>
</div>
